@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@400;700&family=Source+Sans+Pro:wght@300;400&display=swap');

/* Navbar */
.navbar {
    background: rgba(0, 0, 0, 0.46);
}

.navbar-title {
    font-weight: 700;
    font-family: 'Kalam', cursive;
    color: rgba(255, 255, 255, 0.452);
    margin: 0 60px 0 30px;
}

.navbar-title:hover {
    font-weight: 800;
    font-family: 'Kalam', cursive;
    font-size: 1.3rem;
    color: rgb(0, 0, 0);
}

.nav-link {
    font-weight: 300;
    font-family: 'Kalam', cursive;
    color: whitesmoke;
    letter-spacing: 1px;
    margin-right: 15px;
}


/* Main page */
.title {
    font-family: 'Kalam', cursive;
    font-weight: 800;
    color: rgb(93, 75, 75);
}

.category {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    color: rgb(93, 75, 75);
}

/* cards */

.card_img {
    max-height: 220px;
}

.card-title {
    font-weight: 800;
}

.read_more_btn {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.read_more_btn:hover {
    background: #444;
    border-radius: 7px;
    transform: scale(1.08);
}

.news_card {
    height: 570px;
    transition: transform .2s;
}

.news_card:hover {
    transform: scale(1.07);
    border-radius: 12px;
}